/* Portrait Tablets and smaller */
@media screen and (max-width: 768px) {
  .column-two, .column-three, .column-four {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
  }

}


/* Portrait Smartphones */
@media screen and (max-width: 480px) {
  .justify-col {
    display: block;
  }

  .two-col, .three-col, .twothree-col, .four-col {
    display: block;
    width: 100%;
  }

  .hide-mobile {
    display: none;
  }

  .container, .container-large {
    width: 80%;
  }

  p {
    font-size: 12pt;
  }

  h1, h2, h3 {
    font-size: 24pt;
  }
}